<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="SuiteAutomation">
  <test thread-count="5" name="GroupTest">
    <groups>
    <run>
      <include name="login"/>
      
    </run>
  </groups>
  
    <classes>
      <class name="com.report.testgroups.TestGroups"/>
    </classes>

  </test> <!-- GroupTest -->
</suite> <!-- SuiteAutomation -->
